.container {
    display: flex;
    justify-content: center;
}

p {
    display: inline;
    margin: 0;
}

.accordian {
    width: 50%;
    border: 1px solid grey;
    border-radius: 4px;    

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid grey;
    }

    &__caption {
        max-height: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition: all 1s cubic-bezier(0, 1, 0, 1);
        border-bottom: 1px solid grey;

        &:last-child {
            border: 0;
        }
    }

    &__caption--open {
        height: auto;
        max-height: 999px;
        transition: all 1s cubic-bezier(1, 0, 1, 0);
    }

    &__button {
        transition: 1s;
    }

    &__button--open {
        transition: 1s;
        transform: rotate(180deg);
    }
}