.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #6d9abe59;
    padding: 10px;
    height: 100%;
    width: 100%;
    position: fixed;
}