.calculator {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    border: 2px solid black;
    padding: 1rem;

    &__clear {
        grid-column: 1 / -1;
    }

    &__current {
        grid-column: 1 / -1;
        justify-self: end;
    }
}